    	<div class="header_container"><!--start header_container-->
        	<div class="center_content ">
                <header id="header"><!--start header-->
                    <div class="lft_header">
                        <div class="logo"><a ui-sref="main"><img src="images/logo.png" alt="" /></a></div>
                        <nav class="lftnav">
                            <ul>
                                <li><a href="#">How it works</a></li>
                                <li><a ui-sref="about">About remit</a></li>
                                <li><a href="#">Help & Support</a></li>
                            </ul>
                        </nav>
                        <nav class="fat-nav">
                            <div class="fat-nav__wrapper">
                                <div class="nav_box">
                                    <ul>
                                        <li><a href="#">Features</a></li>
                                        <li><a href="#">How it works</a></li>
                                        <li><a href="#">About remit</a></li>
                                        <li><a href="#">Contact us</a></li>
                                        <li><a href="#">Help &amp; Support</a></li>
                                        <li><a ui-sref="login">Login</a></li>
                                    </ul>
                                </div>
                            </div>    
                        </nav>
                    </div>
                    <div class="rgt_header">
                        <a class="btn_signup" ui-sref="register">Sign Up</a>
                        <nav class="rgtnav">
                            <ul>
                                <li><a ui-sref="login">Login</a></li>
                            </ul>
                        </nav>
                        <span>+256 783 877 133</span>
                    </div>
                    <div class="clearfix"></div>
                </header><!--//end header-->
            </div>
        </div><!--//end .header_container-->
        